@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-inter-tight: "Inter Tight", sans-serif;
  --color-primary: #161723;
  --color-secondary: #424153;
  --color-button: #ee6f4b;
}
